*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(300deg, rgba(247, 247, 247, 1), rgba(252, 221, 221, 1)92%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.wrapper,
.result,
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.result {
    margin: 10px;
    height: 400px;
    width: 300px;
    background: rgb(250, 244, 232);
}

.result img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

#catBtn,
#dogBtn {

    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;

}

#catBtn:active,
#dogBtn:active {
    transform: scale(0.98);
}

#catBtn:focus,
#dogBtn:focus {
    outline: none;
}

@media screen and (min-width: 350px) and (max-width: 500px) {
    .wrapper {
        flex-direction: column;
    }
}
